.timeline_element.purple
  .timeline_title
    %span.timeline_label &nbsp;
    %span.timeline_date= l impression.created_at, format: :short
  .content
    = impression.user.nickname
    has modified hotel
    = "\"#{ impression.impressionable.hotel.name }\" settings with #{ impression.impressionable.type }"