.box-register
  %h3= t('auth.new_account.title')
  %p= t('auth.new_account.subtitle')

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-register' }) do |f|
    .errorHandler.alert.alert-danger.no-display
      = icon('remove-sign')
      = t('shared.please_check_errors')
    %fieldset
      .form-group
        %span.input-icon
          = f.email_field :email, autofocus: true, placeholder: t('auth.fields.email'), class: 'form-control with_validation'
          = icon('envelope')
      .form-group
        %span.input-icon
          = f.password_field :password, autocomplete: "off", placeholder: t('auth.fields.password'), class: 'form-control password_validation password_origin'
          = icon('lock')
      .form-group
        %span.input-icon
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: t('auth.fields.password_confirmation'), class: 'form-control password_confirmation_validation'
          = icon('lock')
      = f.fields_for :company, resource.build_company do |fc|
        .form-group
          %p= t('auth.new_account.company_info')
          %span.input-icon
            = fc.text_field :name, placeholder: t('auth.fields.company_name'), class: 'form-control with_validation'
            = icon('home')
        .form-group
          %span.input-icon
            = fc.text_field :reg_number, placeholder: t('auth.fields.company_reg_number'), class: 'form-control'
            = icon('arrow-circle-o-right')
        .form-group
          %span.input-icon
            = fc.text_field :reg_address, placeholder: t('auth.fields.company_reg_address'), class: 'form-control'
            = icon('envelope-o')
      .form-group
        %div
          %label.checkbox-inline{:for => "agree"}
            %input#agree.grey.agree.with_validation{name: "agree", type: "checkbox"}
            = t('.iam_agree')
      .form-actions
        = link_to new_session_path(resource_name), class: 'btn btn-light-grey go-back' do
          = icon('circle-arrow-left')
          = t('auth.buttons.back_login')
        = f.button class: 'btn btn-bricky pull-right', type: :submit do
          = t('shared.submit')
          = icon('arrow-circle-right')

