.sign_up_page
  .container-fluid
    .text-center.light
      .header.h2= t('auth.new_account.title')
      .additional_text.h4= t('auth.new_account.subtitle')
    .sign_up_form.max_width.default_form.center-block
      = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
        = render 'partials/form_error_handler'
        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control with_validation', autofocus: true
        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control password_validation password_origin'
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: 'form-control password_confirmation_validation'
        .separate2
        = f.fields_for :company, resource.build_company do |fc|
          .form-group
            = fc.label :name
            = fc.text_field :name, class: 'form-control with_validation'
          .form-group
            = fc.label :reg_number
            = fc.text_field :reg_number, class: 'form-control'
          .form-group
            = fc.label :reg_address
            = fc.text_field :reg_address, class: 'form-control'
        %label
          %input.with_validation{type: 'checkbox', name: 'agree'}
          = t('.iam_agree')
        .separate
        .form_btns
          = link_to new_session_path(resource_name), class: 'back_link pull-left' do
            = icon('arrow-left')
            %span= t('auth.buttons.back_login')
          = f.button class: 'btn btn_apply pull-right', type: :submit do
            = t('shared.submit')
          .clearfix
