= render partial: 'partials/menu'

#main_container
  #calendar_container
    = render partial: 'header'
    #calendar
      %table.calendar
        = calendar do |date|
          - price_block = @room.room_prices.find_by(date: date)

          - unless date < Date.today || price_block.nil?
            .container{ class: ('with_applied_price' if price_block.enabled) }
              .day
                - unless date.day == 1
                  = date.day
                - else
                  = date.strftime("%B").limit(3) + ' 1st'
              .current_price
                %span= t('shared.current_price')
                %span.ccp_price
                  = set_price(price_block.default_price)
              .bar.manual
                %span= t('shared.date_locked')

              .bar.recommended
                - if price_block.enabled
                  %span= t('shared.recommended_applied')
                - else
                  - rec_price = set_price(price_block.price)
                  %span
                    - if rec_price.to_i > 0
                      = t('shared.recommended_price', price: rec_price)
                    - else
                      = t('shared.no_price')

              .bar.sold
                %span= t('shared.locked')

              %i.fa.fa-thumbs-o-up
              %i.fa.fa-lock
