.calendar_page
  .container-fluid
    = content_for(:main_content_header) do
      .page-header.h2.light
        %span.page_header_title= t('calendar.title')
        = link_to settings_path, class: 'btn btn_grey' do
          %i.fa.fa-cog
          = t('menu.settings')

    .calendar_top_line
      .row
        .col-xs-4.col-sm-3
          .apartment_menu
            .dropdown
              %a{href: '#', data: { toggle: 'dropdown' }}
                = truncate(@room.name, length: 100)
                %i.fa.fa-chevron-down
                .additional_text= @hotel.name

    %table.weekdays
      %tr
        - %w(mon tue wed thu fri sat sun).each do |day|
          %td= t("calendar.days.#{day}")

    - unless current_user.channel_manager.connector_type == 'empty'
      = content_for(:left_menu_header) do
        = render 'price_control'

    #calendar(data-channel-manager="#{ current_user.channel_manager.connector_type }")
      %table.calendar(data-room-id="#{ @room.id }")
        = calendar(@dates.min) do |date|
          - price_block = @prices[date].try(:first)

          - unless date < @dates.min || price_block.nil?
            .date_placeholder{ class: set_day_class(price_block) }
              .day
                - unless date.day == 1
                  = date.day
                - else
                  = date.strftime("%B").limit(3) + ' 1st'
              .current_price
                %span= t('shared.current_price')
                %span.ccp_price
                  = set_price(price_block.default_price)

              .bar.manual{class: ('hidden' unless price_block.locked)}
                %span= t('shared.custom_applied')

              .bar.recommended
                - if price_block.enabled && !price_block.locked
                  %span= t('shared.recommended_applied')
                - else
                  - rec_price = set_price(price_block.price)
                  %span
                    - if rec_price.to_i > 0
                      = t('shared.recommended_price', price: rec_price)
                    - else
                      = t('shared.no_price')

              .bar.sold
                %span= t('shared.locked')

              %i.fa.fa-thumbs-o-up
              %i.fa.fa-lock
