.calendar_page
  .container-fluid
    = content_for(:main_content_header) do
      .page_header.h2.light.fixed
        %span.page_header_title= t('menu.rate_management')
        = link_to settings_path, class: 'btn btn_grey' do
          =icon('cog')
          = t('menu.settings')

    .calendar_top_line.fixed
      .row
        .col-xs-4.col-sm-3
          .apartment_menu
            .dropdown
              %a{href: '#', data: { toggle: 'dropdown' }}
                = truncate(@room.name, length: 100)
                = icon('chevron-down')
              .additional_text= @hotel.name
              = render 'hotels/room_list', hotel: @hotel
        .col-xs-4.col-sm-6
          .calendar_daterange
            .prev.drp_arrow.hidden
            - 0.upto(3) do |i|
              .month_name{class: ('hidden' if i > 0)}
                = display_month(Date.today + i.month)
                = Date.today.year
            .next.drp_arrow
        .cols-xs-4.col-sm-3

    .calendar_items_block
      %table.weekdays.fixed
        %tr
          - %w(mon tue wed thu fri sat sun).each do |day|
            %td= t("calendar.days.#{day}")

      %table#calendar{ data: {channel_manager: current_user.channel_manager.connector_type, room_id: @room.id } }
        = calendar(@dates.min, @prices) do |date|
          - price_block = @prices[date].try(:first)
          - unless date < @dates.min || price_block.nil?
            .calendar_item_label
              - if price_block.enabled && !price_block.locked
                = icon('check')
            .calendar_item_date
              - unless date.day == 1
                = date.day
              - else
                = date.strftime("%B").limit(3) + ' 1st'
            .calendar_item_info{class: ('locked' if price_block.locked)}
              .top= set_price(price_block.default_price)
              .middle
                = price_block.locked ? t('calendar.custom_price') : set_price(price_block.price)

              - if set_price(price_block.price).to_i > 0
                .bottom{class: set_price_difference(price_block)[0][0]}
                  %i.fa{class: set_price_difference(price_block)[0][1]}
                  = set_price_difference(price_block)[1]


  - unless current_user.channel_manager.connector_type == 'empty'
    = render 'price_control'

    - %w(apply_suggested set_manually).each do |action|
      = render partial: 'calendar_modals', locals: {supplied_id: action}
