= content_for(:main_content_header) do
  .page-header
    %h1
      = DateTime.now.strftime("%B %Y") + ' - ' + (DateTime.now + 2.month).strftime("%B %Y")
      %small= truncate(@room.name, length: 100)

    .weekdays
      %span= t('calendar.days.mon')
      %span= t('calendar.days.tue')
      %span= t('calendar.days.wed')
      %span= t('calendar.days.thu')
      %span= t('calendar.days.fri')
      %span= t('calendar.days.sat')
      %span= t('calendar.days.sun')

#calendar
  %table.calendar
    = calendar do |date|
      - price_block = @room.room_prices.find_by(date: date)

      - unless date < Date.today || price_block.nil?
        .container{ class: set_day_class(price_block) }
          .day
            - unless date.day == 1
              = date.day
            - else
              = date.strftime("%B").limit(3) + ' 1st'
          .current_price
            %span= t('shared.current_price')
            %span.ccp_price
              = set_price(price_block.default_price)

          .bar.manual{class: ('hidden' unless price_block.locked)}
            %span= t('shared.custom_applied')

          .bar.recommended
            - if price_block.enabled && !price_block.locked
              %span= t('shared.recommended_applied')
            - else
              - rec_price = set_price(price_block.price)
              %span
                - if rec_price.to_i > 0
                  = t('shared.recommended_price', price: rec_price)
                - else
                  = t('shared.no_price')

          .bar.sold
            %span= t('shared.locked')

          %i.fa.fa-thumbs-o-up
          %i.fa.fa-lock
