#left_menu
  - if controller_name == 'calendar'
    %ul#rs_date_list
      %li.rsdl_date.transitioned200.hidden
        .rsldd_title
          = t('calendar.menu.all_dates').html_safe
        %table.rsdld_controls
          %tbody
            %tr
              %td
                %a.rsdldad_apply.rsdlad_btn.transitioned200
                  = t('calendar.menu.apply_prices').html_safe
              %td
                %a.rsdldad_set.rsdlad_btn.transitioned200
                  = t('calendar.menu.set_prices').html_safe
      %li.hidden
        .rsldd_title
          = t('calendar.menu.manual_input').html_safe
        = number_field_tag :custom_price, nil, min: 0, placeholder: t('placeholders.zero_euro')
  %ul#lm_list.transitioned300
    %li
      = link_to t('calendar.menu.cal'), calendar_index_path, class: "transitioned200 cal_i #{active_class(calendar_index_path)}"
    %li
      = link_to t('calendar.menu.forecast'), '#', class: 'disabled transitioned200, fore_i'
    %li
      = link_to t('calendar.menu.analytics'), '#', class: 'disabled transitioned200, analy_i'
    %li
      = link_to t('calendar.menu.preferences'),new_channel_manager_path, class: "transitioned200 pref_i #{active_class(new_channel_manager_path)}"
