.container-fluid
  = content_for(:main_content_header) do
    .page_header.h2.light.fixed
      %span.page_header_title= t('.header')

  .row.profile_form
    .col-sm-12
      = form_for User.new, as: 'user', url: user_invitation_path, html: { method: :post, class: 'invitation-form' }, remote: true do |f|
        %h3.light Invite new users through this form
        .col-sm-4
          = f.label :email, t('devise.invitations.new.label'), class: 'control-label'
        .clearfix
        .col-md-7
          = f.text_field :email, class: 'tags tags-email'
          = f.button class: 'btn btn-success pull-left' do
            = t('devise.invitations.new.submit_button')
            = icon('arrow-circle-right')

  .row
    .col-sm-12
      %h3.light Manage existing users
      %table.table
        %thead
          %tr
            %th= User.human_attribute_name(:email)
            %th.hidden-xs= User.human_attribute_name(:role)
            %th.hidden-xs= User.human_attribute_name(:invitation_accepted_at)
            %th= t('shared.actions')
        %tbody
          = render partial: 'user', collection: @users
