= content_for(:main_content_header) do
  .row
    .col-sm-12
      .page-header
        %h1
          = t('.header')
          %small= t('.subheader')

  .row
    .col-sm-12
      .tabbable
        %ul.nav.nav-tabs.tab-blue
          %li.active
            %a{"data-toggle" => "tab", href: "#users_tab"}
              %i.green.fa.fa-home
              = t('menu.company.existing_users')
          %li
            %a{"data-toggle" => "tab", href: "#invitation_tab"}
              = t('menu.company.invite_new')

        .tab-content
          #users_tab.tab-pane.active
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th.center= User.human_attribute_name(:avatar)
                  %th= User.human_attribute_name(:email)
                  %th.hidden-xs= User.human_attribute_name(:role)
                  %th.hidden-xs= User.human_attribute_name(:invitation_accepted_at)
                  %th
              %tbody
                = render partial: 'user', collection: @users

          #invitation_tab.tab-pane
            = form_for User.new, as: 'user', url: user_invitation_path, html: { method: :post } do |f|
              .form-group
                .col-sm-4
                  = f.label :email, t('devise.invitations.new.label'), class: 'control-label'
                .clearfix
              .form-group
                .col-sm-4
                  = f.text_field :email, class: 'tags'
                .clearfix
                .col-sm-4
                  = f.button class: 'btn btn-green pull-right' do
                    = t('devise.invitations.new.submit_button')
                    = icon('arrow-circle-right')
              .clearfix
