.sign_up_page
  .container-fluid
    .text-center.light
      .header.h2= t('auth.password_restore.title')
      .additional_text.h4= t('auth.password_restore.subtitle')
    .sign_up_form.max_width.default_form.center-block
      = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post }  do |f|
        = render 'partials/form_error_handler'
        .form-group
          = f.email_field :email, autofocus: true, placeholder: t('auth.fields.email'), class: 'form-control text_validation'
        .separate
        .form_btns
          = link_to new_session_path(resource_name), class: 'back_link pull-left' do
            = icon('arrow-left')
            %span= t('auth.buttons.back_login')
          = f.button class: 'btn btn_apply pull-right', type: :submit do
            = t('shared.submit')
          .clearfix
