= content_for(:main_content_header) do
  .page-header
    %h1= t('.header')

  .row
    .col-sm-12
      .tabbable
        %ul.nav.nav-tabs.tab-blue
          %li.active
            %a{"data-toggle" => "tab", href: "#hotel_settings_tab"}
              %i.clip-tree
              = t('.hotel_settings')
          %li
            %a{"data-toggle" => "tab", href: "#room_settings_tab"}
              %i.clip-circle-small
              = t('.room_settings')

      .tab-content
        #hotel_settings_tab.tab-pane.active
          .col-sm-6
            = render 'form'
          .col-sm-6
            .panel.panel-default
              .panel-heading
                %i.clip-globe
                = t('.related_hotels', count: @related_hotels.size)
              .panel-body
                - Hotel.city_districts(@hotel.city).each do |district|
                  - hotels_within_district = @related_hotels.with_district(district)

                  - if hotels_within_district.size > 0
                    .form-group
                      .col-sm-3.control-label
                        = district
                      .col-sm-9
                        = hotels_within_district.collect{|x| link_to(x.name, x.url, target: '_blank')}.join(', ').html_safe
          .clearfix

        #room_settings_tab.tab-pane
          .col-sm-6
            - @hotel.rooms.each do |room|
              .panel.panel-default
                .panel-heading
                  %i.clip-globe
                  = room.name
                .panel-body
                  Coming soon.
          .clearfix
