.container-fluid
  = content_for(:main_content_header) do
    .page_header.h2.light
      %span.page_header_title= t('.header')

  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a.btn{"data-toggle" => "tab", href: "#room_settings_tab"}
          %i.clip-circle-small
          = t('.room_settings')
      %li
        %a.btn{"data-toggle" => "tab", href: "#search_ranking_tab"}
          %i.clip-rating-3
          = t('.search_ranking')
      %li
        %a.btn{"data-toggle" => "tab", href: "#competitors_tab"}
          = t('.competitors_lookup')
      %li
        %a.btn{"data-toggle" => "tab", href: "#channel_manager_tab"}
          = t('.channel_manager')

  .tab-content
    #channel_manager_tab.tab-pane.max_width.center-block.company_form
      .h20px= t('channel_manager.edit.header')
      .separate
      = render 'channel_manager/form'
      .clearfix
    #room_settings_tab.tab-pane.active
      - if @channel_manager
        .h20px= t('channel_manager.edit.room_match_info').html_safe
      = render partial: 'rooms/form'
      .clearfix
    #search_ranking_tab.tab-pane
      .col-sm-5
        = render partial: 'room_settings/form'
      .clearfix
    #competitors_tab.tab-pane
      .competitors_block.width_control
        .row
          .col-md-6
            .left_side
              = render 'form'
              .separate
              .div(data-partial="related_hotels")
                = render template: 'related_hotels/edit'
          .col-md-6.hidden-xs.hidden-sm
            .right_side
              #map(style="height: 900px;")
      .clearfix

