= content_for :main_content_header do
  .page-header
    %h1= t('.header')

.row
  .col-sm-8.col-sm-offset-2
    .panel.panel-default
      .panel-heading
        %i.clip-stats
        = t('.settings_header')
      .panel-body
        %table.table.table-hover.table-condensed
          %thead
            %tr
              %th= Hotel.human_attribute_name(:name)
              %th= Hotel.human_attribute_name(:address)
              %th= Setting.human_attribute_name(:crawling_frequency)
              %th= Setting.human_attribute_name(:stars)
              %th= Setting.human_attribute_name(:user_ratings)
              %th= Setting.human_attribute_name(:property_types)
              %th= Setting.human_attribute_name(:districts)
              %th
          - @settings.each do |setting|
            %tbody
              %tr
                %td= setting.hotel.name
                %td= setting.hotel.full_address
                %td= humanize setting.company.setting_fallback.crawling_frequency
                %td= setting.company.setting_fallback.stars.map(&:to_i).to_sentence
                %td= setting.company.setting_fallback.user_ratings.to_sentence
                %td= setting.company.setting_fallback.property_types.map{|p| t("enum.property_type.#{p}")}.to_sentence
                %td= setting.company.setting_fallback.districts.to_sentence
                %td
                  = link_to [:edit, setting.company.setting_fallback], class: 'btn btn-xs btn-green tooltips', data: {'original-title' => t('shared.edit')} do
                    = icon(:edit)
