= form_for @wb, url: { action: (action_name == 'new' ? :create : :update) }, html: { class: 'form-horizontal' } do |f|

  .form-group
    = f.label :login, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :login, class: 'form-control'

  .form-group
    = f.label :password, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.password_field :password, class: 'form-control'

  .form-group
    = f.label :lcode, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :lcode, class: 'form-control'

  .form-group
    = f.label :booking_id, t('labels.booking_id'), class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :booking_id, class: 'form-control'

  .form-group
    = f.label :hotel_name, t('labels.hotel_name'), class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :hotel_name, class: 'form-control'

  .form-group
    .col-sm-5.col-sm-offset-2
      = f.button class: 'btn btn-primary', type: :submit do
        = t("auth.buttons.#{action_name}")
        %i.fa.fa-arrow-circle-right