.company_page
  .container-fluid
  = content_for :main_content_header do
    .page_header.h2.light.fixed
      .page_header_title= t('.header')

  .max_width.center-block.company_form
    = form_for(@company, url: company_path, html: { multipart: true, class: 'form-company' }) do |f|
      .errorHandler.alert.alert-danger.no-display
        = icon('remove-sign')
        = t('shared.please_check_errors')
      .h20px= t('.form.main_info')
      .separate2
      .form-group
        = f.label :name, class: 'control-label'
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :reg_number, class: 'control-label'
        = f.text_field :reg_number, class: 'form-control'
      .form-group
        = f.label :reg_address, class: 'control-label'
        = f.text_field :reg_address, class: 'form-control'

      = f.button class: 'btn btn_apply' do
        = icon('check')
        = t('shared.submit')
