= content_for :main_content_header do
  .row
    .col-sm-12
      .page-header
        %h1= t('.header')

.row
  .col-sm-12
    .alert.alert-block.alert-warning.fade.in
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %h4.alert-heading
        = flash_icon('warning')
        = t('flash.warning')
        = t('.alert.header')
      %p= raw t('.alert.text')

  .col-sm-7
    = render 'form'