.container-fluid
  = content_for(:main_content_header) do
    .page_header.h2.light
      %span.page_header_title= t('menu.overbooking')

      = link_to settings_path, class: 'btn btn_grey' do
        = icon('cog')
        = t('menu.settings')

  .overbooking_block.width_control{ data: {related_ids: @hotel.related.map(&:booking_id)} }
    .row
      .col-md-6
        .overbooking_form
          .description_text
            %p= t('overbooking.description').html_safe
          .separate2
          .inputs= render 'form'
          .separate
          #results_placeholder
      .col-md-6
        #map
