= content_for(:invisible) do
  Price report for the last week
= content_for(:header) do
  %h1.header Weekly report
  %h2.header
    = "(#{ 1.week.ago.to_date.at_beginning_of_week.strftime('%d.%m.%Y') } - "
    = "#{ 1.week.ago.to_date.at_end_of_week.strftime('%d.%m.%Y') })"
%tr
  %td(align="center" valign="top")
    %table(border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#fff;" bgcolor="#fff")
      %tr
        %td(align="center" valign="top")
          %table.flexibleContainer(border="0" cellpadding="0" cellspacing="0" width="500")
            %tr
              %td.flexibleContainerCell(align="center" valign="top" width="500")
                %table(border="0" cellpadding="30" cellspacing="0" width="100%")
                  %tr
                    %td.textContent(align="center" valign="top")
                      %h1.black.center
                        Weekly report! Coming soon
