= content_for(:page_js){ javascript_include_tag 'graph/application', 'data-turbolinks-track' => true }
= content_for(:page_css){ stylesheet_link_tag 'graph/application', 'data-turbolinks-track' => true }

= content_for(:main_content_header) do
  .page-header
    %h1= t('.header')

.row
  .col-sm-8.col-sm-offset-2
    .panel.panel-default
      .panel-heading
        %i.clip-stats
        = t('.settings_header')
      .panel-body
        = form_for @form, url: [:simple, :hotels], remote: true, method: :get, html: { class: 'form-horizontal graph-options' } do |f|
          .form-group
          .form-group
            = f.label :id, t('.date_range'), class: 'col-sm-2 control-label'
            .col-sm-10
              %p
              #date-range-slider.slider-purple
            = f.hidden_field :date_from
            = f.hidden_field :date_to
          .form-group
            = f.label :booking_id, t('.hotel'), class: 'col-sm-2 control-label'
            .col-sm-10
              = f.select :booking_id, options_for_hotels, {}, class: 'form-control search-select'
          - if @form.booking_id
            = render 'room_fields', f: f, booking_id: @form.booking_id
          .form-group
            = f.label :related_booking_id, t('.related'), class: 'col-sm-2 control-label'
            .col-sm-10
              -#= f.select :related_booking_id, options_for_related
          .form-group
            .col-sm-2.col-sm-offset-2
              = submit_tag t('.show_graph'), class: 'btn btn-success btn-squared'

#line-example
