.calendar_page
  .container-fluid
    = content_for :main_content_header do
      .page_header.h2.light
        %span.page_header_title= t('.header')
        = link_to settings_path, class: 'btn btn_grey', data: { no_turbolink: true } do
          = icon('cog')
          = t('menu.settings')
      .tabbable
        %ul.nav.nav-tabs
          %li
            = link_to t('graph.hotels.submenu.table'), '#', class: 'btn'
          %li
            = link_to t('graph.hotels.submenu.graphs'), graph.hotels_path, class: "btn #{active_link_class(graph.hotels_path)}"

    .row
      .col-sm-4
        .panel.panel-default
          .h20px.text-center= t('.settings_header')
          .panel-body
            = render partial: 'form', locals: { form: @form, pattern: 'graph.hotels.index' }

      .col-sm-8
        .panel.panel-default
          .panel-body
            #graph-container
              %ol
                %li= t('graph.howto.step_1')
                %li= t('graph.howto.step_2')
                %li= t('graph.howto.step_3')
