= content_for(:main_content_header) do
  .page-header
    %h1
      Payment details

= form_tag 'http://xmpay.dev.keks-n.net/Pay', method: 'POST' do
  = hidden_field_tag :merchantId, @merchant_id
  = hidden_field_tag :price, @subscription.amount
  = hidden_field_tag :currency, @subscription.currency
  = hidden_field_tag :orderId, @subscription.id
  = hidden_field_tag :recurring, @subscription.recurring
  = hidden_field_tag :days, @subscription.days
  = hidden_field_tag :sign, @signature

  .col-md-5
    .table-responsive
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %td Name
            %td Price
            %td Currency
            %td Add / Delete
        %tbody
          - @subscription.payment_items.each do |item|
            %tr.active
              %td= item.name
              %td.price= item.price
              %td= @subscription.currency
              %td
                = link_to '#', class: 'modify_subscription remove' do
                  %span.label.label-sm.label-danger= t('shared.remove')
                  %span.label.label-sm.label-success.hidden= t('shared.activate')
          %tr
            %td{colspan: 4}= submit_tag 'Proceed to payment', class: 'btn btn-primary'
