= form_tag bulk_update_rooms_path, method: :put, class: 'form-horizontal rooms-form', remote: true do
  = hidden_field_tag :manual, true
  %table.table.rooms-table
    %thead
      %tr
        %th Booking ID
        %th CM ID
        %th= Room.human_attribute_name(:name)
        %th= Room.human_attribute_name(:min_price)
        %th= Room.human_attribute_name(:max_price)
        - if can?(:update_connector_credentials, Room)
          %th= t('labels.select_room')
        %th
    %tbody
      - @hotel.rooms.each do |room|
        = fields_for 'rooms[]', room do |f|
          = render 'rooms/row_form', f: f
  - if controller_name == 'settings'
    = submit_tag t('shared.save'), class: 'btn btn-teal'
  - else
    = button_tag class: 'btn btn-primary', type: :submit do
      = t('shared.next')
      = icon('arrow-circle-right')
