= form_tag bulk_update_rooms_path, method: :put, class: 'rooms-form', remote: true do
  = hidden_field_tag :manual, true
  %table.table{class: (controller_name == 'settings' ? 'setting_room_table' : 'hotel_rooms_table')}
    %thead
      %tr
        %th Booking ID
        - unless current_user.channel_manager.connector_type == 'empty'
          %th CM ID
        %th= Room.human_attribute_name(:name)
        %th= Room.human_attribute_name(:min_price)
        %th= Room.human_attribute_name(:max_price)
        - if controller_name != 'wizard'
          %th= t('settings.strategy.title')
        - if current_user.channel_manager.connector_type != 'empty' && can?(:update_connector_credentials, Room)
          %th= t('labels.select_room')
    %tbody
      - @hotel.rooms.each do |room|
        = fields_for 'rooms[]', room do |f|
          = render 'rooms/row_form', f: f
      - if controller_name == 'settings'
        %td
        %td
        %td
        %td
        - if current_user.channel_manager.connector_type != 'empty' && can?(:update_connector_credentials, Room)
          %td
          %td
        %td
          = button_tag class: 'btn btn_apply pull-right', type: :submit do
            = icon('check')
            = t('shared.save')
      - else
        %td
          = link_to wizard_step3_path, class: 'back_link pull-left' do
            = icon('arrow-left')
            = t('shared.prev')
        %td
        %td
        - if current_user.channel_manager.connector_type != 'empty' && can?(:update_connector_credentials, Room)
          %td
          %td
        %td
          = button_tag class: 'btn btn_apply pull-right', type: :submit do
            = icon('arrow-right')
            = t('shared.next')
