%tr(data-room-id="#{ f.object.id }")
  %td= f.object.booking_id
  - unless current_user.channel_manager.connector_type == 'empty'
    %td= f.object.wubook_id || f.object.previo_id
  %td= f.object.name
  %td
    .has-feedback
      = f.number_field :min_price, class: 'form-control'
      = icon('eur form-control-feedback')
  %td.edit-price
    .has-feedback
      = f.number_field :max_price, class: 'form-control'
      = icon('eur form-control-feedback')
  %td
    = fields_for 'room_settings[]', @room_settings[f.object.id] do |f|
      = f.number_field :position, class: 'form-control', min: 1, max: 100, step: 1

  - if current_user.channel_manager.connector_type != 'empty' && can?(:update_connector_credentials, Room)
    %td.edit-cm
      - case current_user.channel_manager.connector_type
      - when 'previo'
        = f.select :previo_id, options_for_select(@cm_rooms, f.object.previo_id), {include_blank: t('labels.select_room')}, class: 'form-control selectpicker'
      - when 'wubook'
        = f.select :wubook_id, options_for_select(@cm_rooms, f.object.wubook_id), {include_blank: t('labels.select_room')}, class: 'form-control selectpicker'
