%tr(data-room-id="#{ f.object.id }")
  %td= f.object.booking_id
  %td= f.object.wubook_id || f.object.previo_id
  %td= f.object.name
  %td.edit-price
    .input-group
      = f.text_field :min_price, class: 'form-control'
      .input-group-addon
        = currency_symbol
  %td.edit-price
    .input-group
      = f.text_field :max_price, class: 'form-control'
      .input-group-addon
        = currency_symbol
  - if can?(:update_connector_credentials, Room)
    %td.edit-cm
      - case f.object.hotel.channel_manager.connector_type
      - when 'previo'
        = f.select :previo_id, options_for_select(@cm_rooms, f.object.previo_id), {include_blank: t('labels.select_room')}, class: 'form-control'
      - when 'wubook'
        = f.select :wubook_id, options_for_select(@cm_rooms, f.object.wubook_id), {include_blank: t('labels.select_room')}, class: 'form-control'

  %td.action
    .success
      %span.text-success
        = icon('check')
        = t('shared.updated')
    .failure
      %span.text-danger
        = icon('exclamation-circle')
        = t('shared.error')
