= content_for(:main_content_header) do
  .row
    .col-sm-12
      .page-header
        %h1
          = t('.header')
          %small= @hotel.name

.row
  .hidden
    %span(data-message="select_hotels_first")= t('overbooking.messages.select_hotels_first')
    %span(data-message="confirm_related_bulk_delete")= t('overbooking.messages.confirm_related_bulk_delete')
    %span(data-message="related_search_prompt")= t('overbooking.messages.related_search_prompt')
  .col-sm-12
    - if @related.length > 0
      .btn-group
        %button.btn.btn-dark-beige.dropdown-toggle.bulk-action-button(type="button" data-toggle="dropdown")
          = icon('wrench')
          = t('.action_with_selected')
          %span.caret
        %ul.dropdown-menu(role="menu")
          %li
            = link_to [:enable, :partner], class: 'bulk-overbooking' do
              = icon('chain')
              = t('.become_partner')
          %li
            = link_to [:disable, :partner], class: 'bulk-overbooking' do
              = icon('chain-broken')
              = t('.remove_partner')
      %table.table.table-condensed
        %thead
          %tr
            %th
            %th= Overbooking::Hotel.human_attribute_name(:booking_id)
            %th= Overbooking::Hotel.human_attribute_name(:name)
            %th= t('.overbooking_partner')
            %th.hidden-sm.hidden-xs= Overbooking::Hotel.human_attribute_name(:url)
            %th= Overbooking::Hotel.human_attribute_name(:address)
            %th
        %tbody
          - @related.each do |related_hotel|
            %tr
              %td.center
                .checkbox-table
                  %label
                    = check_box_tag 'ids[]', related_hotel.related.booking_id, false, class: 'flat-grey'
              %td= related_hotel.related.booking_id
              %td= related_hotel.related.name
              %td
                - if related_hotel.is_overbooking
                  %span.label.label-success= t('overbooking.shared.partner')
                - else
                  —
              %td.hidden-sm.hidden-xs= link_to t('overbooking.shared.view_in_web'), related_hotel.related.url, target: '_blank'
              %td= [related_hotel.related.zip, related_hotel.related.city, related_hotel.related.district, related_hotel.related.address].compact.join(', ')
              %td
                = render template: 'overbooking/contacts/index', locals: { contacts: related_hotel.related.contacts,
                                                    hotel: related_hotel.related }

      = paginate @related