%ul.dropdown-menu{role: "menu", aria: {labelledby: "dLabel"}}
  - hotel.rooms.each do |room|
    %li
      = link_to [main_app, :calendar, :index, room_id: room.id], class: "#{active_class(root_path(room_id: room.id))}" do
        = room.roomtype
        %span.max
          = Room.human_attribute_name(:max_people)
          = room.max_people
