.row
  .col-sm-12
    #wizard.swMain
      %ul
        - (1..5).to_a.each do |step|
          %li
            = link_to '#', class: wizard_step_class(step, active) do
              .stepNumber= step
              %span.stepDesc
                = t('.step_number', number: step)
                %br
                %small= t(".step#{ step }")

      .progress.progress-striped.active.progress-sm
        .progress-bar.progress-bar-success.step-bar(aria-valuemax="100" aria-valuemin="0" role="progressbar" style="width: #{ progress }%;")
          %span.sr-only
            = progress
            \% Complete
