.container-fluid
  = render 'progressbar', active: 4

  .step3_block
    .text-center.light
      .header.h2= t('.header')
      .additional_text.h6= t('.description').html_safe

    .default_form.max_width2.clear_padding.center-block
      = render partial: 'rooms/form'

    .hidden
      = form_tag [:wizard, :step4_post], method: :post, remote: true, class: 'step4-finish-form' do
        = submit_tag 'submit'
