= content_for(:main_content_header) do
  .row
    .col-sm-12
      .page-header
        %h1= t('.header')

= render 'progressbar', active: 1, progress: (100 / 5) * 1

.row
  .col-md-6.col-md-offset-3
    = form_for @channel_manager, as: :channel_manager, url: [:wizard, :step1_post], method: :post, remote: true, class: 'form' do |f|
      .form-group
        %h4= t('.search_prompt')
        = f.hidden_field :booking_id, id: 'search_hotel', data: { url: search_hotels_path, hotel_url: hotel_path(id: '') }
      .form-group
        = f.button class: 'btn btn-primary' do
          = t('shared.next')
          = icon('arrow-circle-right')
