= content_for(:main_content_header) do
  .row
    .col-sm-12
      .page-header
        %h1
          = t('.header')
          %small= @channel_manager.hotel.name

= render 'progressbar', active: 2, progress: (100 / 5) * 2

.row
  .col-sm-10
    = form_for @channel_manager, as: :channel_manager, url: [:wizard, :step2_post], method: :post, html: { class: 'form-horizontal' } do |f|
      .errorHandler.alert.alert-danger.no-display
        = icon('remove-sign')
        = t('shared.please_check_errors')
      .form-group
        = f.label :connector_type, class: 'col-sm-4 control-label'
        .col-sm-3
          = f.select :connector_type, options_for_cm_types(@channel_manager.connector_type), {}, class: 'form-control'

      .form-group
        = f.label :login, t('labels.cm_login'), class: 'col-sm-4 control-label '
        .col-sm-3
          = f.text_field :login, class: 'form-control with_validation'

      .form-group
        = f.label :password, t('labels.cm_password'), class: 'col-sm-4 control-label'
        .col-sm-3
          = f.text_field :password, class: 'form-control with_validation'

      .connector-fieldset.hidden

      %fieldset.hidden(data-connector="wubook")
        .form-group
          = f.label :lcode, t('labels.lcode'), class: 'col-sm-4 control-label'
          .col-sm-3
            = f.text_field :lcode, class: 'form-control with_validation'

      %fieldset.hidden(data-connector="previo")
        .form-group
          = f.label :lcode, ChannelManager::Previo.human_attribute_name(:lcode), class: 'col-sm-4 control-label'
          .col-sm-3
            = f.text_field :lcode, class: 'form-control with_validation'

      .form-group
        .col-sm-3.col-sm-offset-4
          = f.button class: 'btn btn-primary', type: :submit do
            = t('shared.next')
            = icon('arrow-circle-right')
