= content_for :step5_form do
  - if @related.size > 0
    = form_tag [:wizard, :step5_post], method: :post, class: 'step5-finish-form', remote: true do
      = button_tag type: :submit, class: 'btn btn_apply pull-right' do
        = t('.finish')
        = icon('arrow-right')
  - else
    %p.pull-right{style: 'margin-top: -20px'}= t('errors.min_related_hotels_not_found')
    .clearfix

.container-fluid
  = render 'progressbar', active: 5

  .text-center.light
    .header.h2= t('.header')
    .additional_text.h6= t('.description')

  .default_form.max_width2.center-block
    = render partial: 'settings/form'
    = yield :step5_form

    .div(data-partial="related_hotels")
      = render template: 'related_hotels/edit'
    .clearfix
    .separate
    .form_btns
      = link_to wizard_step4_path, class: 'back_link pull-left' do
        = icon('arrow-left')
        = t('shared.prev')
      .clearfix
