.form-group
  = f.label :booking_id, t('labels.booking_id'), class: 'col-sm-4 control-label'
  .col-sm-3
    - if can?(:update_booking_id, f.object)
      = f.text_field :booking_id, class: 'form-control with_validation'
    - else
      %label.control-label
        = f.object.booking_id
- if f.object.persisted?
  .form-group
    = label_tag :hotel_name, t('labels.hotel_name'), class: 'col-sm-4 control-label'
    .col-sm-3
      %label.control-label
        = f.object.hotel.name