.form-group
  = f.label :login, t('labels.cm_login'), class: 'col-sm-4 control-label '
  .col-sm-3
    = f.text_field :login, class: 'form-control with_validation'
.form-group
  = f.label :password, t('labels.cm_password'), class: 'col-sm-4 control-label'
  .col-sm-3
    = f.text_field :password, class: 'form-control with_validation'
.form-group
  = f.label :lcode, ChannelManager::Previo.human_attribute_name(:lcode), class: 'col-sm-4 control-label'
  .col-sm-3
    = f.text_field :lcode, class: 'form-control with_validation'
.form-group
  = f.label :booking_id, t('labels.booking_id'), class: 'col-sm-4 control-label'
  .col-sm-3
    = f.text_field :booking_id, class: 'form-control with_validation'
.form-group
  = f.label :hotel_name, t('labels.hotel_name'), class: 'col-sm-4 control-label'
  .col-sm-3
    = f.text_field :hotel_name, class: 'form-control with_validation'