!!! 5
%html
  %head
    = render 'layouts/head'

  %body{class: @body_class, data: { page: body_data_page }}
    = render partial: 'partials/header'
    .main-container
      .navbar-content
        .main-navigation.navbar-collapse.collapse
          = yield(:left_menu_header)
          = render 'partials/menu'
      .main-content
        .container
          = yield(:main_content_header)
          #flash-container= render_flash
          = yield

    = render 'partials/sidebar' if controller_name == 'calendar' && current_user && current_user.channel_managers.size > 0
    #spinner_placeholder.hidden
      = render partial: 'partials/spinner'
      %p.loading_text= t('shared.loading')

    #helpers= render partial: 'partials/helpers'
    = render partial: 'partials/javascript'
