!!! 5
%html
  %head
    = render 'layouts/head'

  %body{class: @body_class, data: { page: body_data_page }}
    = render partial: 'partials/header'
    .main-container
      = render 'partials/menu'
      .main-content
        .container
          = yield(:main_content_header)
          - unless flash.empty?
            - flash.each do |type, message|
              = render 'partials/flash', type: type, message: message
          = yield

    = render 'partials/sidebar' if controller_name == 'calendar' && current_user && current_user.channel_managers.size > 0
    #spinner_placeholder.hidden
      = render partial: 'partials/spinner'
      %p.loading_text= t('shared.loading')

    = render partial: 'partials/javascript'
