!!! 5
%html
  %head
    = render 'layouts/head'

  %body{class: 'login', data: { page: body_data_page }}
    .main-login.col-sm-4.col-sm-offset-4
      .logo
        HOTEL
        %i.clip-clip>
        COMMANDER
      - unless flash.empty?
        - flash.each do |type, message|
          = render 'partials/flash', type: type, message: message
      = yield
      .copyright= render 'partials/copyright'

    #spinner_placeholder.hidden
      = render partial: 'partials/spinner'
      %p.loading_text= t('shared.loading')

    = render partial: 'partials/javascript'
