= content_for(:invisible) do
  New client moved to you from #{ @hotel.name }
= content_for(:header) do
  %h1.header New client from #{ @hotel.name }
  %h2.header= @hotel.address

%tr
  %td(align="center" valign="top")
    %table(border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#FFFFFF;" bgcolor="#FFFFFF")
      %tr
        %td(align="center" valign="top")
          %table.flexibleContainer(border="0" cellpadding="0" cellspacing="0" width="500")
            %tr
              %td.flexibleContainerCell(align="center" valign="top" width="500")
                %table(border="0" cellpadding="30" cellspacing="0" width="100%")
                  %tr
                    %td.textContent(align="center" valign="top")
                      %img{ src: @map }